@use 'sass:color';
@use '../variables.scss' as vars;

.btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;

  &:hover {
    opacity: 0.8;
  }
}

.large {
  font-size: 1rem;
}

.neutral {
  background-color: vars.$light-tertiary;
  border: 1px solid color.adjust(vars.$light-tertiary, $lightness: -20%);
  color: vars.$dark-secondary;
}

.positive {
  background-color: vars.$success;
  color: vars.$light-primary;
}

.negative {
  background-color: vars.$error;
  color: vars.$light-primary;
}
