@import '../variables.scss';

.tags-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 1.25rem 0 1.5rem;
}

.tag {
  background-color: lighten($info, 10%);
  color: $light-primary;
  cursor: pointer;
  font-weight: 500;
  padding: 0.25rem 0.5rem 0.4rem;
  border-radius: 4px;
  display: inline-flex;
  font-size: 0.875rem;

  &.inactive {
    background-color: $light-tertiary;
    border: 1px solid darken($light-tertiary, 20%);
    color: $dark-secondary;
  }

  button {
    background: none;
    border: none;
    color: $light-primary;
    margin-left: 0.5rem;
    cursor: pointer;
  }
}

.tags-section {
  margin-top: 1rem;
}

.tags-input {
  display: flex;
  gap: 0.5rem;
}
