@use 'sass:color';
@use './variables.scss' as vars;
@use './reset.scss';

body {
  background-color: vars.$light-secondary;
  font-family: vars.$font-stack;
  font-size: 16px;
  margin: 0;
}

a {
  color: vars.$info;
}

.heading {
  flex-grow: 1;
  font-weight: 500;
}

.issue-tracker {
  background-color: vars.$light-secondary;
  color: vars.$dark-primary;
  font-family: vars.$font-stack;
  margin: auto;
  max-width: 800px;
  min-height: 100vh;
  padding: 0 1rem;

  .issue-header {
    align-items: center;
    background-color: vars.$dark-primary;
    border-radius: 0 0 8px 8px;
    color: vars.$light-primary;
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;

    h1 {
      font-size: 1.5rem;
      margin: 0;
    }
  }
}

.divider {
  color: vars.$light-tertiary;
  margin: 2rem 0 1.75rem;
}

.footer {
  font-size: 0.75rem;
  padding-bottom: 2rem;
  text-align: center;
}

.icon-btn {
  background: color.adjust(vars.$dark-tertiary, $lightness: 5%);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  padding: 7.5px;
  display: flex;
  align-items: center;

  &.active {
    background: color.adjust(vars.$light-primary, $lightness: -15%);

    svg {
      fill: vars.$dark-secondary;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    fill: vars.$light-primary;
  }
}
