$dark-primary: #24292e;
$dark-secondary: #2b3137;
$dark-tertiary: #645e5e;
$light-primary: #ffffff;
$light-secondary: #f6f8fa;
$light-tertiary: #f6f8fa;
$success: #2dba4e;
$error: #f0440a;
$info: #0d74e7;

$font-stack: system-ui, sans-serif;
